<section id="blog">
    <div class="container text-center wow fadeIn">
        <h2>Blog</h2>
        <hr class="colored">
        <p>The Head Up Offical Blog</p>
        <div class="row content-row">
            <div class="col-lg-12">
                <div class="portfolio-filter">
                    <ul id="filters" class="clearfix">
                        <li>
                            <span class="filter active" data-filter="all">All</span>
                        </li>
                        <li>
                            <span class="filter" data-filter=".identity">Strategy</span>
                        </li>
                        <li>
                            <span class="filter" data-filter=".graphic">Leadership</span>
                        </li>
                        <li>
                            <span class="filter" data-filter=".web">Management</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="portfoliolist">
                    <!-- NOTE: You can add more items to the grid, or remove items you don't need! -->
                    <!-- Grid Item 1 -->
                    <div class="mix identity" href="img/agency/portfolio/grid/grid-1.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                        <%= image_tag("grid-1.jpg", alt: "Grid1") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-1.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">How to plan</a>
                                    <span class="text-category">Strategy</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 2 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-2.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-2.jpg", alt: "Grid2") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-2.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">How to herd cats</a>
                                    <span class="text-category">Management</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 3 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-3.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-3.jpg", alt: "Grid3") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-3.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Designing good processes</a>
                                    <span class="text-category">Management</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 4 -->
                    <div class="mix identity" href="img/agency/portfolio/grid/grid-4.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-4.jpg", alt: "Grid4") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-4.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Seeing around the corner</a>
                                    <span class="text-category">Strategy</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 5 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-5.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-5.jpg", alt: "Grid5") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-5.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Finding the right people</a>
                                    <span class="text-category">Management</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 6 -->
                    <div class="mix graphic" href="img/agency/portfolio/grid/grid-6.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-6.jpg", alt: "Grid6") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-6.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Inspiring people</a>
                                    <span class="text-category">Leadership</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 7 -->
                    <div class="mix graphic" href="img/agency/portfolio/grid/grid-7.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-7.jpg", alt: "Grid7") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-7.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">How to be a boss ass bitch</a>
                                    <span class="text-category">Leadership</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 8 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-8.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-8.jpg", alt: "Grid8") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-8.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Managing your time</a>
                                    <span class="text-category">Management</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 9 -->
                    <div class="mix identity" href="img/agency/portfolio/grid/grid-9.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <%= image_tag("grid-9.jpg", alt: "Grid9") %>
                            <!-- <img src="assets/images/agency/portfolio/grid/grid-9.jpg" alt=""> -->
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Thinking two steps ahead</a>
                                    <span class="text-category">Strategy</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 