<section id="portfolio">
    <div class="container text-center wow fadeIn">
        <h2>Portfolio</h2>
        <hr class="colored">
        <p>Examples of coaching, workshop design, writing, and online courses</p>
    </div>
</section>

<!-- Portfolio Carousel -->
<section class="portfolio-carousel wow fadeIn">
    <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
    <!-- Carousel Item 1 -->    
    <div class="item" style="background-image: url(<%= asset_path 'belk.jpg' %>)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Belk</span>
                        <span class="project-description">Energy efficiency and GHG reductions in retail space</span>
                        <hr class="colored">
                        <a href="#portfolioModal1" data-toggle="modal" class="btn btn-outline-light details">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                              <!--   <div class="screen">
                                    <%= image_tag("sjbelk.jpg", alt: "Screen1", class: "img-responsive") %>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel Item 2 -->
    <div class="item" style="background-image: url(<%= asset_path 'root.jpg' %>)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Root</span>
                        <span class="project-description">Consulting</span>
                        <hr class="colored">
                        <a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light details">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                             <!--    <div class="screen">
                                    <%= image_tag("root2.jpg", alt: "Screen2", class: "img-responsive") %>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel Item 3 -->
<!--     <div class="item" style="background-image: url(<%= asset_path 'bg-3.jpg' %>)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal3" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                                <div class="screen">
                                    <%= image_tag("screen-3a.jpg", alt: "Screen3", class: "img-responsive") %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Carousel Item 4 -->
<!--     <div class="item" style="background-image: url(<%= asset_path 'bg-4.jpg' %>)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal4" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                                <div class="screen">
                                    <%= image_tag("screen-4.jpg", alt: "Screen4", class: "img-responsive") %>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- Portfolio Modals -->
    <!-- Example Modal 1: Corresponds with Portfolio Carousel Item 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url(<%= asset_path 'belk.jpg' %>)">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Belk</h2>
                            <hr class="colored">
                            <p>Stephanie as an EDF fellow</p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <!-- 4:3 aspect ratio -->
                            <div class="embed-responsive embed-responsive-4by3">
                              <iframe src="https://player.vimeo.com/video/26017421" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                              <p><a href="https://vimeo.com/26017421">Stephanie Judd: 2011 EDF Climate Corps fellow at Belk</a> from <a href="https://vimeo.com/user7510602">Katie Ware</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong>Belk</strong>
                                </li>
                                <li>Date: <strong>2011</strong>
                                </li>
                                <li>Service: <strong>Energy Efficiency</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 2: Corresponds with Portfolio Carousel Item 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url(<%= asset_path 'root.jpg' %>)">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Root</h2>
                            <hr class="colored">
                            <p>Consulting</p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.rootinc.com/"></iframe>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong>Root</strong>
                                </li>
                                <li>Date: <strong>2016</strong>
                                </li>
                                <li>Service: <strong>Consulting</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 3: Corresponds with Portfolio Carousel Item 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url(<%= asset_path 'bg-3.jpg' %>)">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Project Name</h2>
                            <hr class="colored">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="device-mockup macbook portrait black">
                                <div class="device">
                                    <div class="screen">

                                        <!-- Modal Mockup Option 1: Single Image (Uncomment Below to Use) -->
                                        <!-- <img src="assets/images/agency/portfolio/carousel/screen-3a.jpg" class="img-responsive" alt=""> -->

                                        <!-- Modal Mockup Option 2: Carousel (Example In Use Below) -->
                                        <div class="mockup-carousel">
                                            <div class="item">
                                            <%= image_tag("screen-3a.jpg", alt: "Screen3a", class: "img-responsive") %>
                                                <!-- <img src="assets/images/agency/portfolio/carousel/screen-3a.jpg" class="img-responsive" alt=""> -->
                                            </div>
                                            <div class="item">
                                                <%= image_tag("screen-3b.jpg", alt: "Screen3b", class: "img-responsive") %>
                                                <!-- <img src="assets/images/agency/portfolio/carousel/screen-3b.jpg" class="img-responsive" alt=""> -->
                                            </div>
                                            <div class="item">
                                                <%= image_tag("screen-3c.jpg", alt: "Screen3c", class: "img-responsive") %>
                                                <!-- <img src="assets/images/agency/portfolio/carousel/screen-3c.jpg" class="img-responsive" alt=""> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong>Start Bootstrap</strong>
                                </li>
                                <li>Date: <strong>April 2015</strong>
                                </li>
                                <li>Service: <strong>Web Development</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 4: Corresponds with Portfolio Carousel Item 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url(<%= asset_path 'bg-4.jpg' %>)">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Project Name</h2>
                            <hr class="colored">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="device-mockup macbook portrait black">
                                <div class="device">
                                    <div class="screen">

                                        <!-- Modal Mockup Option 1: Single Image (Example In Use Below) -->
                                        <%= image_tag("screen-4.jpg", alt: "Screen4", class: "img-responsive") %>
                                        <!-- <img src="assets/images/agency/portfolio/carousel/screen-4.jpg" class="img-responsive" alt=""> -->

                                        <!-- Modal Mockup Option 2: Carousel (Uncomment Below to Use) -->
                                        <!-- <div class="mockup-carousel">
                                            <div class="item">
                                                <img src="assets/images/agency/portfolio/carousel/screen-1a.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="assets/images/agency/portfolio/carousel/screen-2a.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="assets/images/agency/portfolio/carousel/screen-3a.jpg" class="img-responsive" alt="">
                                            </div>
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong>Start Bootstrap</strong>
                                </li>
                                <li>Date: <strong>April 2015</strong>
                                </li>
                                <li>Service: <strong>Web Development</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>