<!-- Password Reset Section -->
<section id="password_reset_new" class="bg-dark">
    <div class="container wow fadeIn vert-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Password Reset</h4>
                <hr class="colored">
                <h5>Please enter your email and we'll send you a link to reset your password</h5>
                <% if !flash.empty? %>
                    <%= render 'shared/flash' %>
                <% end %>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-8 col-lg-offset-2">
            <%= form_for(:password_reset, url: password_resets_path) do |f| %>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <%= f.label :email %>
                            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                             <%= f.submit "Submit", class: "btn btn-outline-dark float-right" %>
                       </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>