<% if !flash.empty? %>
    <%= render 'shared/flash' %>
<% end %>

<section id="user_show" class="services bg-coolGrey">
    <div class="container">
        <div class="row content-row vert-center">
          <div class="col-lg-12 col-sm-6 text-center">
              <i class="fa fa-user fa-5x"></i>
              <p class="nexa-light-center white_text"><%= @user.name %></p>
              <p class="nexa-light-center white_text">
                  <%= @user.email %>
              </p>
              <p class="nexa-light-center white_text">
                  Created: <%= time_ago_in_words(@user.created_at) %> ago
              </p>
              <p class="nexa-light-center white_text">
                  Updated: <%= time_ago_in_words(@user.updated_at) %> ago
              </p>
          </div>
        </div>
    </div>
</section>