<% if !flash.empty? %>
    <%= render 'shared/flash' %>
<% end %>

<section>
<div>Name: <%= @user.name %> </div>
<div>Email: <%= @user.email %></div>
<div>Created at: <%= @user.created_at %></div>
<div>Updated at: <%= @user.updated_at %></div>
<div>Current time: <%= Time.now %></div>
</section>