<section class="bg-dark" id="contact2">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>Get In Touch</h4>
        <hr class="colored">
        <p class="nexa-bold center mobile-smaller">Tell us about the power you're trying to access.  We'll help you find it.</p>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-lg-8 col-lg-offset-2"><%= form_for(@lead) do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <div class="row control-group">
         <div class="form-group col-xs-12 floating-label-form-group controls">
           <%= f.label :name %>
           <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
         </div>
       </div>
       <div class="row control-group">
         <div class="form-group col-xs-12 floating-label-form-group controls">
           <%= f.label :email %>
           <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
         </div>
       </div>
       <div class="row control-group">
         <div class="form-group col-xs-12 floating-label-form-group controls">
           <%= f.label :phone %>
           <%= f.telephone_field :phone, class: "form-control", placeholder: "Phone Number" %>
         </div>
       </div>
       <div class="row control-group">
         <div class="form-group col-xs-12 floating-label-form-group controls">
           <%= f.label "What's up?" %>
           <%= f.text_area :message, class: "form-control", placeholder: "What's up?", size: "20x6" %>
         </div>
       </div>
       <br>
       <div id="success"></div>
       <div class="row">
         <div class="form-group col-xs-12">
          <%= f.submit "Send", class: "btn btn-outline-dark float-right" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</section>