<section>
<div>Name: <%= @lead.name %> </div>
<div>Email: <%= @lead.email %></div>
<div>Phone: <%= @lead.phone %></div>
<div>Message: <%= @lead.message %></div>
<div>Created at: <%= @lead.created_at %></div>
<div>Updated at: <%= @lead.updated_at %></div>
<div>Current time: <%= Time.now %></div>
</section>