<!-- Navigation -->
<!-- NOTE: .navbar-default and .navbar-inverse are both supported with this theme. -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i> Menu
            </button>
            <% if !current_page?("/") %>
                <%= link_to image_tag("OrangeHorizontal.svg", alt: "Logo", class: "img-responsive"),   root_path, class: "navbar-brand page-scroll"  %>
            <% else %>
                <%= link_to image_tag("OrangeHorizontal.svg", alt: "Logo", class: "img-responsive"),   "#page-top", class: "navbar-brand page-scroll"  %>
            <% end %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
<!--                 <% if Rails.env.development? %>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Debug</a>
                    </li>
                <% end %> -->
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#work_with_me" : "href=/#work_with_me" %> >Work With Me</a>
                </li>
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#a_giraffe" : "href=/#a_giraffe" %> >A Giraffe</a>
                </li>
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#get_in_touch" : "href=/#get_in_touch" %> >Get In Touch</a>
                </li>
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#stephanie_who" : "href=/#stephanie_who" %> >Stephanie Who?</a>
                </li>

                <!--   These are the links that we will eventually implement.          
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#process" : "href=/#process" %> >Process</a>
                </li>
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#portfolio" : "href=/#portfolio" %> >Portfolio</a>
                </li> 
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#testimonials" : "href=/#testimonials" %> >Testimonials</a>
                </li>
                <li>
                    <a class="page-scroll" <%= current_page?("/") ? "href=#blog" : "href=/#blog" %> >Blog</a>
                </li> 
                -->
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Debug</h4>
      </div>
      <div class="modal-body">
        <%= debug(params) %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%= if !current_page?("/")
        javascript_tag "document.getElementsByClassName('navbar-fixed-top')[0].className = 'navbar navbar-inverse navbar-fixed-top';"
    end %>
