<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <title> <%= full_title(yield(:title)) %> </title>
    <%= render 'layouts/fonts' %>
    <%= render 'layouts/shim' %>
  </head>
  <body id="page-top">
    <%= render 'layouts/header' %>
    <!-- <div class="container">
 -->      <%= yield %>
      <!-- <%= render 'layouts/footer' %>   -->
    <!-- </div> -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
